<div class="jumbotron">
  <h1>Seattle City Hackathon</h1>
  <h3>
  The Seattle City hackathon is coming up. We've got great sponsors, great
  teams, great ideas, a great space and great prizes. Sign up now and come
  hack with us!
  </h3>
  <p><a class="btn btn-primary btn-lg" href="/teams/new" role="button">Sign Up</a></p>
</div>
<div>
  
</div>

