<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon Teams</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Ceattle Sity Hackathon</h1>
      <%- body %>
      <ul class="list-inline">
        <li>
          <a class="btn btn-primary" href="/">Home</a>
        </li>

        <li>
          <a class="btn btn-primary" href="/teams">See teams</a>
        </li>

        <li>
          <a class="btn btn-primary" href="/teams/new">Sign Up</a>
        </li>
      </ul>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/teams-ajax.js"></script>
  </body>
</html>
