body {
	margin: 0 auto;
}

header {
	background: blue;
	padding: 10px;
	margin: 0 auto !important;
}

.jumbotron {
	padding: 125px 80px;
	margin-top: -20px;
	background: url('/img/hackathon.jpg');
	background-size: cover;
	background-position: bottom center;
}

.edit-team {
	display: none;
}